
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 800px;
    max-height: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3% auto;
    text-align: center;
}

h1{
    text-align: center;
}

.pMethod, .subscription{
    display: inline-block;
    vertical-align: top;
    height: 250px;
    max-width: 600px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5%;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-left: 5px;
    margin-right: 20px;
    font-size: 1.5em;
}

img {
    width: auto;
    height: 25px;
    display: inline-block;
    vertical-align: top;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.subscription h3 {
    font-size: 2em;
    color: black;
}

.subscription p {
    font-size: 1.3em;
    color: black;
}
